<div class="container">
	<table class="table">
		<thead class="thead-dark">
		<tr>
			<th scope="col">#</th>
			<th scope="col">Username</th>
			<th scope="col">Record</th>
			<th title="Points Per Game" scope="col">PPG</th>
			<th title="Points Allowed Per Game" scope="col">PAPG</th>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let player of leaderboard; let i = index">
			<th scope="row">{{i + 1}}</th>
			<td>{{displayUsername(player.userId)}}</td>
			<td>{{player.wins}}-{{player.losses}}</td>
			<td>{{player.ppg | number:'1.1-2'}}</td>
			<td>{{player.papg | number:'1.1-2'}}</td>
		</tr>
		</tbody>
	</table>
</div>