<div class="container">
	<div class="alert alert-success" [hidden]="!savedScore">
		Score saved successfully!
	</div>
	<form (ngSubmit)="submitScore()">
		<div class="form-group">
			<label for="myScore">My Score</label>
			<input type="number" class="form-control" [(ngModel)]="score.myScore"
			       id="myScore" placeholder="Score" name="myScore" min="0">
		</div>
		<div class="form-group">
			<label for="oppScore">Opponent's Score</label>
			<input type="number" class="form-control" [(ngModel)]="score.theirScore"
			       id="oppScore" placeholder="Score" name="theirScore" min="0">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
