<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">Ping Pong</a>
	<button
			class="navbar-toggler"
			type="button"
			aria-controls="navbarSupportedContent"
			aria-label="Toggle navigation"
			(click)="toggleMenu()"
			[attr.aria-expanded]="!menuHidden"
	>
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" [ngbCollapse]="menuHidden" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="/score">Submit Score <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/leaderboard">Leaderboard</a>
			</li>
		</ul>
	</div>
</nav>

<router-outlet></router-outlet>
