<div class="container">
  <form (ngSubmit)="create()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" [(ngModel)]="user.username"
             id="username" placeholder="username" name="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" [(ngModel)]="user.password"
             id="password" placeholder="" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <a href="#">Already have an account? Sign in</a>
</div>
