<div class="container">
  <div class="alert alert-danger" [hidden]="!err">
    {{err}}
  </div>
  <form (ngSubmit)="login()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" [(ngModel)]="credentials.username"
             id="username" placeholder="username" name="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" [(ngModel)]="credentials.password"
             id="password" placeholder="" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <a href="/signup">Don't have an account? Create one</a>
</div>
